background-preview {
  border-radius: 6px;
}

background-preview .window {
  border-radius: 6px;
  box-shadow: 0 1px 4px 1px alpha(black, 0.13),
              0 1px 10px 5px alpha(black, 0.09),
              0 3px 16px 8px alpha(black, 0.04),
              0 0 0 1px alpha(black, .05);
}

background-preview .window .header-bar {
  min-height: 15px;
}

background-preview .window.light {
  background-color: #fafafa;
  color: alpha(black, .8);
}

background-preview .window.light .header-bar {
  box-shadow: inset 0 -1px alpha(black, .07);
}

background-preview .window.front.light .header-bar {
  background-color: #ebebeb;
}

background-preview .window.dark {
  background-color: #242424;
  color: white;
}

background-preview .window.dark .header-bar {
  box-shadow: inset 0 -1px alpha(black, .36);
}

background-preview .window.front.dark .header-bar {
  background-color: #303030;
}

.background-preview-button {
  background: none;
  border-radius: 9px;
  padding: 3px;
  box-shadow: none;
  outline: none;
}

.background-preview-button:checked {
  box-shadow: 0 0 0 3px @accent_bg_color;
}

.background-preview-button:focus:focus-visible {
  box-shadow: 0 0 0 3px @accent_bg_color, 0 0 0 6px alpha(@accent_color, .3);
}

.background-preview-button:checked:focus:focus-visible {
  box-shadow: 0 0 0 3px @accent_color, 0 0 0 6px alpha(@accent_color, .3);
}

.background-flowbox > flowboxchild {
  background: none;
  border-radius: 9px;
}

.background-thumbnail {
  border-radius: 6px;
}

.slideshow-icon {
  color: white;
  -gtk-icon-shadow: 0 1px 2px rgba(0, 0, 0, 0.33);
  margin: 8px;
}

.selected-check {
  color: @accent_fg_color;
  background: @accent_bg_color;
  border-radius: 100px;
  padding: 2px;
  opacity: 0;
  margin: 6px;
  transition-duration: 200ms;
}

flowboxchild.active-item .selected-check {
  opacity: 1;
}

.remove-button {
  padding: 2px;
  min-width: 0;
  min-height: 0;
  margin: 6px;
}

.accent-button {
  border-radius: 9999px;
  padding: 3px;
  background: var(--accent-bg-color);
  min-width: 24px;
  min-height: 24px;
  outline: none;
  background-clip: content-box;
  box-shadow: none;
}

.accent-button:checked {
  box-shadow: 0 0 0 3px var(--accent-bg-color);
}

.accent-button:focus:focus-visible {
  box-shadow: 0 0 0 3px color-mix(in srgb, var(--accent-color) 30%, transparent);
}

.accent-button:checked:focus:focus-visible {
  box-shadow: 0 0 0 3px var(--accent-bg-color),
              0 0 0 6px color-mix(in srgb, var(--accent-color) 30%, transparent);
}

.blue, .teal, .green, .yellow, .orange, .red, .pink, .purple, .slate {
  --accent-color: oklab(from var(--accent-bg-color) var(--standalone-color-oklab));
}

.blue {
  --accent-bg-color: var(--accent-blue);
}

.teal {
  --accent-bg-color: var(--accent-teal);
}

.green {
  --accent-bg-color: var(--accent-green);
}

.yellow {
  --accent-bg-color: var(--accent-yellow);
}

.orange {
  --accent-bg-color: var(--accent-orange);
}

.red {
  --accent-bg-color: var(--accent-red);
}

.pink {
  --accent-bg-color: var(--accent-pink);
}

.purple {
  --accent-bg-color: var(--accent-purple);
}

.slate {
  --accent-bg-color: var(--accent-slate);
}
